* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    color: #A6ADBB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */

header.header {
    padding: 8px;
    border-bottom: solid 1px #4d535e;
    text-align: center;
}

header.header>h1 {
    font-weight: 500;
    font-size: 30px;
}

/* main */

main.translator {
    position: relative;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    max-width: 1150px;
    min-height: 250px;
}

.clearfix {
    width: 100%;
}

.clearfix__sub {
    width: 50%;
}

.clearfix__sub.left {
    float: left;
    padding-right: 15px;
}

.clearfix__sub.right {
    float: right;
    padding-left: 15px;
}

div.translator__text,
div.translator__morse {
    width: 100%;
}

h2.translator__title {
    padding: 8px 4px;
}

textarea.translator__input {
    padding: .5rem 1rem;
    width: 100%;
    height: 9rem;
    min-height: 3rem;
    border: 1px solid #444b58;
    border-radius: .5rem;
    resize: vertical;

    background-color: #30343c;
    color: inherit;
    font-family: inherit;
    font-size: .875rem;
    line-height: 2;
}

textarea.translator__input:hover {
    outline: #7899dd solid 1px;
}

textarea.translator__input:focus {
    outline: #4265ac solid 2px;
}

/* scrollbar */

::-webkit-scrollbar {
    background-color: #30343c;
    width: 10px;
    border-radius: .5rem;
}

::-webkit-scrollbar-button {
    height: 10px;
    background-color: #41454d;
    border-radius: 100%;
    
    border: 2px solid #30343c
}

::-webkit-scrollbar-thumb {
    background-color: #4265ac;
    border-radius: .5rem;
    border: 2px solid #30343c;
}

::-webkit-resizer {
    background-color: #30343c;
    /* border-radius: 100%; */
}